.projects-section {
  text-align: center;
  padding: 4rem 1rem;
}

.cards-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  
}

.project-card {
  max-width: 30vh;
  margin: 1rem;
}

